<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../utils/head', { title: "Error | Admin-Portfolio"}) %>
  </head>
  <body>
    <%# Barra de Navegación %>
    <%- include('../components/navbar') %>

    <%# Cuerpo de la Aplicación %>
    <main id="error-main">
      <h1>¡Lo siento!</h1>

      <% if (notFound) { %>
        <p id="not-found-error"><b>404</b> Página no encontrada</p>
      <% } else { %>
        <p id="normal-error"><%= error %></p>
      <% } %>
      
      <a class="home-link" href="/">Inicio</a>
    </main>
  </body>
</html>
