<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../utils/head', { title: "Inicio | Admin-Portfolio"}) %>
  </head>
  <body>
    <%# Barra de Navegación %>
    <%- include('../components/navbar') %>

    <%# Cuerpo de la Aplicación %>
    <main id="home-main">
      <h1>Admin <b>-</b> Portfolio</h1>
      <ul id="home-list">
        <li><a class="home-link" href="/proyectos">Ver Proyectos</a></li>
        <li><a class="home-link" href="/proyectos/nuevo">Nuevo Proyecto</a></li>
        <li><a class="home-link" href="/tecnologias">Ver Tecnologías</a></li>
        <li><a class="home-link" href="/tecnologias/nuevo">Nueva Tecnología</a></li>
      </ul>
    </main>
  </body>
</html>
