<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../utils/head', { title: "Inicio | Admin-Portfolio"}) %>
  </head>
  <body>
    <%# Barra de Navegación %>
    <%- include('../components/navbar') %>

    <%# Cuerpo de la Aplicación %>
    <main id="home-main"></main>
  </body>
</html>
