<!DOCTYPE html>
<html lang="en">
  <head>
    [%- include('__components/head', {title: 'Añadir Proyecto'}) %]
  </head>
  <body>
    [% if(info) { %]
    <p>[%= info %]</p>
    [% } %]

    <h1>Añadir nuevo proyecto</h1>
    <form action="/project" method="post">
      <label for="name">Nombre Proyecto:</label>
      <input type="text" id="name" name="name" />

      <label for="radio-favorite-group">Proyecto Destacado:</label>
      <div id="radio-favorite-group">
        <label>
          <input type="radio" name="favorite" value="0" checked />
          No
        </label>
        <label> <input type="radio" name="favorite" value="1" /> Sí </label>
      </div>

      <label for="description">Descripción de Proyecto:</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
      ></textarea>

      [% if(!!techs.length) { %]
      <label for="techs-group">Tecnologías usadas:</label>
      <div id="techs-group">
        [% for(let tech of techs) { %]
        <label>
          <input
            type="checkbox"
            id="[%= tech._id %]"
            name="techs"
            value="[%= tech._id %]"
          />
          [%= tech.name %]
        </label>
        [% } %]
      </div>
      [% } else { %]
      <p>No hay Tecnologías disponibles todavía</p>
      [% } %]

      <label for="radio-type-group">Tipo de Proyecto:</label>
      <div id="radio-type-group">
        <label>
          <input type="radio" name="type" value="Full-Stack" checked />
          Full-Stack
        </label>
        <label>
          <input type="radio" name="type" value="Back-End" /> Back-End
        </label>
        <label>
          <input type="radio" name="type" value="Front-End" /> Front-End
        </label>
        <label> <input type="radio" name="type" value="Otros" /> Otros </label>
      </div>

      <label for="github">Repositorio del Proyecto:</label>
      <input type="url" id="github" name="github" />
      <label for="deploy">Deploy del Proyecto:</label>
      <input type="url" id="deploy" name="deploy" />
      <label for="docs">Documentación del Proyecto:</label>
      <input type="url" id="docs" name="docs" />

      <label for="avatar">Seleccionar Avatar:</label>
      <label>
        <input type="file" id="avatar" name="avatar" />
      </label>

      <label for="images">Seleccionar Imágenes:</label>
      <label>
        <input type="file" id="images" name="images" multiple/>
      </label>

      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
