<!DOCTYPE html>
<html lang="en">
  <head>
    [%- include('__components/head', {title: 'Añadir Tech'}) %]
  </head>
  <body>
    [% if(info) { %]
    <p>[%= info %]</p>
    [% } %]

    <h1>Añadir nuevoa tech</h1>
    <form action="/tech" method="post">
      <label for="name">Nombre Tech:</label>
      <input type="text" id="name" name="name" />

      <label for="radio-favorite-group">Tech Favorita:</label>
      <div id="radio-favorite-group">
        <label>
          <input type="radio" name="favorite" value="0" checked />
          No
        </label>
        <label> <input type="radio" name="favorite" value="1" /> Sí </label>
      </div>

      <label for="details-group">Detalles Tech:</label>
      <div id="details-group">
        <input type="text" name="details">
      </div>
      <button type="button" onclick="addDetail()">Añadir nuevo detalle</button>

      <label for="icon">Añadir Icono:</label>
      <label id="icon">
        <input type="text" name="icon" />
      </label>

      <input type="submit" value="Enviar" />
    </form>

    <script src="/public/js/tech.js"></script>
  </body>
</html>
