/* Configuraciones Globales */

:root {
  --bg-color1: #000;
  --bg-color1-2: #fff;
  --bg-color1-3: #ffffff2f;
  --bg-color2: #001;
  --bg-color2-2: #9d9dc2;
  --text-color1: #fff;
  --text-color2: #fbff00;
  --error-color: #ff0000;
  --success-color: #03c903;
  --info-color: #0084ff;
  --text-size-big: 4rem;
  --text-size-title: 3rem;
  --text-size-subtitle: 2.5rem;
  --text-size-normal: 2rem;
  --text-size-small: 1.25rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color2);
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-color1);
}

h1 {
  font-size: var(--text-size-title);
  color: var(--text-color2);
  text-transform: uppercase;
  text-wrap: wrap;
}

#home-main,
#error-main,
#new-main {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  min-height: calc(100vh - 6.5rem);
}

.btn-submit {
  width: 100%;
  background-color: var(--success-color);
  font-size: var(--text-size-normal);
  border: 0;
  border-radius: 5px;
  color: var(--text-color1);
  padding: 0.35rem 0;
  vertical-align: middle;
}

.btn-submit:hover {
  cursor: pointer;
  transform: scaleY(1.1) scaleX(1.01);
  transition: 0.3s;
}

.btn-submit:disabled {
  background-color: var(--bg-color2-2);
}

.btn-submit:disabled:hover {
  cursor: default;
  transform: none;
}

#info-message, #error-message {
  font-size: var(--text-size-small);
  border-radius: 5px;
  text-wrap: wrap;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  background-color: var(--bg-color1-3);
}

#info-message {
  color: var(--success-color);
  border: 2px solid var(--success-color);
}

#error-message {
  color: var(--error-color);
  border: 2px solid var(--error-color);
}



/* Página de Error */

#error-main b {
  font-size: var(--text-size-big);
  color: var(--error-color);
}

#error-main {
  color: var(--text-color1);
  font-size: var(--text-size-normal);
}

#not-found-error,
#normal-error {
  color: var(--info-color);
}

/* Barra de Navagación */

#header {
  background-color: var(--bg-color1);
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

#header nav {
  margin: 0.5rem;
}

#header a {
  font-size: var(--text-size-normal);
  color: var(--text-color1);
  margin: 0 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

#header a:hover {
  color: var(--text-color2);
  border-bottom: 2px solid var(--text-color2);
  cursor: pointer;
}

/* Página Principal */

#home-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: block;
}

#home-list li {
  width: 100%;
}

.home-link {
  color: var(--text-color2);
  display: block;
  padding: 0.5rem 0;
  margin: 0.5rem auto;
  width: 70%;
  text-decoration: none;
  border: 3px solid var(--text-color2);
  border-radius: 0.5rem;
  font-size: var(--text-size-normal);
}

.home-link:hover {
  cursor: pointer;
  color: var(--text-color1);
  border-color: var(--text-color1);
}

/* Página Lista de Proyectos y Tecnologías */

#list-main {
  width: 100%;
  min-width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.table-container {
  margin: 0 auto 2rem auto;
  max-width: 1300px;
  min-width: 600px;
  display: block;
  overflow-x: auto;
  font-size: var(--text-size-small);
}

.table-container > table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid var(--text-color1);
}

.table-container td,
.table-container th,
.table-container caption {
  text-wrap: nowrap;
  width: auto;
  padding: 0.5rem;
}

.table-container td {
  border-top: 1px solid var(--text-color1);
  border-bottom: 1px solid var(--text-color1);
  border-left: 2px solid var(--text-color1);
  border-right: 2px solid var(--text-color1);
}

.table-container th,
.table-container caption {
  border: 2px solid var(--text-color1);
  background-color: var(--bg-color1);
  color: var(--text-color2);
}

.cell-type {
  text-transform: capitalize;
}

.btn-edit,
.btn-delete {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.3rem;
  color: var(--text-color1);
  vertical-align: middle;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid transparent;
  margin: 0;
  display: inline-block;
}

.btn-edit {
  background-color: var(--success-color);
}

.btn-delete {
  background-color: var(--error-color);
}

.btn-edit:hover,
.btn-delete:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.btn-edit:disabled {
  background-color: var(--bg-color2-2);
}

.btn-edit:disabled:hover {
  cursor: default;
  transform: none;
}

#not-data-list {
  font-size: var(--text-size-subtitle);
  text-transform: uppercase;
}

.list-link {
  width: 40%;
}

/* Formulario de Nueva Tecnología */

#tech-form {
  font-size: var(--text-size-small);
  text-align: left;
  margin-bottom: 0.5rem;
}

#tech-form label {
  display: inline-block;
  width: 100%;
  margin: 0.35rem 0;
}

#tech-form .radio-label {
  width: max-content;
  display: block;
}

#tech-form textarea {
  resize: vertical;
}

#tech-form .checkbox-label {
  width: 45%;
}

#tech-form .radio-label:hover,
#tech-form .checkbox-label:hover,
#tech-form input[type=radio]:hover,
#tech-form input[type=checkbox]:hover {
  cursor: pointer;
  color: var(--text-color2);
}

#tech-form input[type=text],
#tech-form input[type=url],
#tech-form textarea {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
}

#tech-form input[type=text]::placeholder,
#tech-form input[type=url]::placeholder,
#tech-form textarea::placeholder {
  font-size: var(--text-size-small);
  font-style: italic;
}

#details-group input,
#tasks-group input {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

#tech-form .btn-edit {
  margin: 0.15rem auto;
  display: block;
}

#tech-form fieldset {
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}

/* Media Querys */

@media (max-width: 600px) {
  #header a {
    display: block;
    width: max-content;
    margin: 0 auto;
  }

  #home-main,
  #error-main,
  #new-main {
    width: 100%;
  }

  #home-main b {
    display: none;
  }

  .home-link,
  .list-link {
    width: 100%;
  }
}
